.app {
  width: 100%;
  height: 575px;
  padding: 30px 60px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom: 5px solid #cad5e6;
}

.top {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #61dafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top img{
  height: 160px;
}

.bottom {
  width: 100%;
  height: 50%;
  border-top: 2px solid #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-image {
  width: 165px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png');
  background-position: center;
  background-size:cover;
}

.header-title {
  font-size: 34px;
  color: #61dafb;
  font-family: 'Advent Pro', sans-serif;
}

.sample-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.button {
  height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #61dafb;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #4eb1cc;
}
